@{
    ViewBag.Title = "About";
}
<div class="about">
    <h1>Who is Quaint Gaming?</h1>

    <p>
        Hello, my name is Clifton and I created Quaint Gaming.
    </p>
    <p>
        I was born and raised in Missouri, and if you've
        spent any considerable time in the great Mid-West, you know that not only is it a great place to live
        and raise a family, it's also just boring enough to become quite invested in video games from a young
        age. Like many others, I grew up playing all sorts of games, but as I got older, and unlike many others,
        my taste in games didn't really keep up with the times. Looking at a brand new game on a TV nowadays
        doesn't capture the same feelings I had as when I looked at a new game when I was younger. Some people
        tell me I enjoy the nostalgia too much, and that may well be true, but I love the way older games looked,
        the way the played, their cleverness and their difficulty. As such, I've created a website to give others
        with the same interests in older games a place to talk about them, to learn about them and to play them.
    </p>

    <div class="text-center">
        <img src="/Content/Images/gameboxes.jpg"/>
    </div>

    <h1>What is Quaint Gaming?</h1>
    <p>First and foremost, Quaint Gaming is a community. We are what they call "old school" gamers who have played
    our way through the trenches and enjoyed every minute of it. Okay, maybe not every minute. As time goes one, 
    more games are developed and more games get left behind. We don't like to see those games that have stood out
    to us getting left in the dust of the 80s and 90s. Many of those older games are still very playable to this
    day, even to someone who isn't accustomed to playing older games. This website is a way to bring people together
    under a common niche, promoting dialogue, sharing, and playing the great games of history.</p>

    <div class="text-center">
        <img src="~/Content/Images/notforgotten.jpg" />
    </div>

    <h1>What can I do here?</h1>
    <p>What a great question, because there is alot to do here at Quaint Gaming! First, I implore you to sign up to
    become a full member of the website, as there are some things that only members have access to. After filling out
    the registration form, I would then suggest that you to browse the games. If you're not familiar with a title, take note 
    of the game's rating on that game's page. That's the rating given to the game by the users of Quaint Gaming, so you 
    can get an idea of what we think about it. Then hit the comments and see what our users have to say. There, you'll 
    find in-depth reviews, personal accounts, even stories written for that particular title. Feel free to join in on the
    discussion, we welcome all members and encourage interaction. Since you've already registered, in addition to being able
    to take part in the comments section, you've also gained access to one of the site's best features, exclusive only to
    members. You can now download any game that we host, right here on the site, and it's completely free. Now, please 
    keep in mind that we are conscious of the legality behind sharing games that fall under copywrite protection. We hold
    high standards to keep ourselves, and you, within the bounds of the law on Quaint Gaming. But we still have you covered.
    If we dont host a specific game you're after, there's a very high likelihood that you'll find the game for cheap on one 
    of our friend's sites in the Links section. 
    </p>

    <div class="text-center">
        <img src="~/Content/Images/doscollage.png" />
    </div>

    <h1>Is there anything else?</h1>
    <p>There is, actually. Quaint Gaming is build on the foundation of it's members, and with that, there are oppurtunities
    to those who want some of the responsibility of helping the site grow. These are members who have been noticably active
    within the site and have shown interest in becomming an important asset to the growing future here. I'm talking about a
    special status called a contributor. Contributors are members who have gained access to adding game entrys, building up
    our repertoire of games. They may also update the details of an existing game, providing an additional net of accuracy
    for the information that we display. If you would like to know more about becomming a contributor for Quaint Gaming, please
    make use of the contact information below.</p>

    <div class="text-center">
        <h2>Clifton Kuhne</h2>
        <h3>Quaint Gaming<br/>cliftonwk@gmail.com</h3>
        
    </div>

</div>