
@{
    ViewBag.Title = "Links";
}
<div class="links">
    <h1>Links</h1>
    <p>Here is a small selection of websites that I suggest to anyone who enjoys older game titles to go and give
    a visit, if not support through puchases. Many timeless classics to be had in the following link.</p>


    <div class="text-center">
        <a href="https://www.gog.com/"><img src="~/Content/Images/gog.jpg" /></a>
    </div>
    <h2>Good Old Games</h2>
    <p>
        GOG.com is a wonderful site that has many older titles, often for very cheap. If the price point seems
        high for a particular title, but you're patient, wait until it goes on sale. They happen often. GOG is
        usually a one-stop shop. They almost always have what I'm looking for, and many of their games are 
        sold in a full series for a discount. It's a great website, I highly recommend.
    </p>


    <div class="text-center">
        <a href="http://store.steampowered.com/"><img src="~/Content/Images/steam.jpg" /></a>
    </div>
    <h2>Steam</h2>
    <p>
        Steam is alot like GOG but without the emphasis on older games. They have some, and often if GOG does not
        carry a certain game, it's because Steam has aquired the selling rights. A good site if GOG fails you, or
        you find a better sale here. Also an important site for those looking for newer games.
    </p>


    <div class="text-center">
        <a href="https://www.myabandonware.com/"><img src="~/Content/Images/myabandonware.jpg" /></a>
    </div>
    <h2>My Abandonware</h2>
    <p>
        This website is perfect. They deal in abandonware, which is to say video games that are no longer being sold
        by their production owners and have since gone abandoned. Many games that were available here have been picked
        up by GOG or Steam for profit and are no longer available for free, but the site is full of great information
        at any rate. Highly recommend.
    </p>

    <div class="text-center">
        <a href="http://www.abandonia.com/"><img src="~/Content/Images/abandonia.png" /></a>
    </div>
    <h2>Abandonia</h2>
    <p>
        Similar to My Abandonware, though not as enjoyable of an experience, in my opinion. It's a good site with alot
        of content, and sometimes you can find games here that you can't find in the previous links. Worth a shot if
        you've come up dry everywhere else.
    </p>
</div>